body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  /* text-align: center; */
  color: #293c4b;
  background-color: black;
  color: #aaa;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.item .name a {
  color: inherit;
  /* text-decoration: none; */
}
.item {
  display: inline-block;
  border: 1px solid white;
  border-radius: 5px;
  padding: 3px;
  margin: 3px;
  vertical-align: top;
}
.item .name {
  text-align: center;
}
.item.normal .name {
  color: white;
}
.item.magic .name {
  color: cyan;
}
.item.rare .name {
  color: yellow;
}
.item .affixes.nonempty {
  border-top: 1px solid white;
}
